<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>t5c2223ver03filaAlamontagna</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>T5c2223ver03FilaAlamontagnaC</display-name>
    <servlet-name>T5c2223ver03FilaAlamontagnaC</servlet-name>
    <servlet-class>T5c2223ver03FilaAlamontagnaC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>T5c2223ver03FilaAlamontagnaC</servlet-name>
    <url-pattern>/T5c2223ver03FilaAlamontagnaC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>T5c2223ver03FilaAlamontagnaA</display-name>
    <servlet-name>T5c2223ver03FilaAlamontagnaA</servlet-name>
    <servlet-class>T5c2223ver03FilaAlamontagnaA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>T5c2223ver03FilaAlamontagnaA</servlet-name>
    <url-pattern>/T5c2223ver03FilaAlamontagnaA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>T5c2223ver03filaAlamontagnaB</display-name>
    <servlet-name>T5c2223ver03filaAlamontagnaB</servlet-name>
    <servlet-class>T5c2223ver03filaAlamontagnaB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>T5c2223ver03filaAlamontagnaB</servlet-name>
    <url-pattern>/T5c2223ver03filaAlamontagnaB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>T5c2223ver03FilaAlamntagnaB</display-name>
    <servlet-name>T5c2223ver03FilaAlamntagnaB</servlet-name>
    <servlet-class>T5c2223ver03FilaAlamntagnaB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>T5c2223ver03FilaAlamntagnaB</servlet-name>
    <url-pattern>/T5c2223ver03FilaAlamntagnaB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>t5c2223ver03filaAlamontagnaC</display-name>
    <servlet-name>t5c2223ver03filaAlamontagnaC</servlet-name>
    <servlet-class>t5c2223ver03filaAlamontagnaC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>t5c2223ver03filaAlamontagnaC</servlet-name>
    <url-pattern>/t5c2223ver03filaAlamontagnaC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>T5c2223ver03FilaAlamontagnaB</display-name>
    <servlet-name>T5c2223ver03FilaAlamontagnaB</servlet-name>
    <servlet-class>T5c2223ver03FilaAlamontagnaB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>T5c2223ver03FilaAlamontagnaB</servlet-name>
    <url-pattern>/T5c2223ver03FilaAlamontagnaB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>T5c2223vee03FilaAlamontagnaC</display-name>
    <servlet-name>T5c2223vee03FilaAlamontagnaC</servlet-name>
    <servlet-class>T5c2223vee03FilaAlamontagnaC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>T5c2223vee03FilaAlamontagnaC</servlet-name>
    <url-pattern>/T5c2223vee03FilaAlamontagnaC</url-pattern>
  </servlet-mapping>
</web-app>